.cards {
    display: flex;   
}

.blockOne {
    margin-top: 30px; 
}
.card {
    
    width:90%;
    margin-top:30px;
    margin-bottom:30px;
    padding: 20px;
    border-radius:15px;
    box-shadow: 0px 2px 10px var(--lgray);
}
.card > i {
    font-size:60px;
    display: block;
    margin-top:20px;
    margin-bottom:20px;
    color:#FC6606;
}
.card:hover {
    background-color: #FC6606;
    color: whitesmoke; 
}
.card:hover > i {
    color:whitesmoke
}
.card > a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: var(--black);
    display: block;
    margin: 20px 0px;
}
.card > p {
    display: block;
}