.blog-item{
    padding: 20px;
    padding-bottom: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgb(220,220,220);
    object-fit: cover;
    object-position: center;
    position: relative;
    transition: all 0.5s;
}

.blog-item:hover{
    transform: translateY(-15px);
}

.blog-item .blog-image{
    width: 100%;
    height: 290px;
    margin-bottom: 30px;
    position: relative;
    transition: all 0.5s;
}

@media (min-width: 450px ) {
    .blog-item .blog-image{
        height: 330px;
        
    }
}
@media (min-width: 500px ) {
    .blog-item .blog-image{
        height: 350px;
        
    }
}
@media (min-width: 550px ) {
    .blog-item .blog-image{
        height: 400px;
        
    }
}

@media (min-width: 760px ) {
    .blog-item .blog-image{
        height: 290px;
        
    }
}
.blog-item .blog-btn{
    position:absolute;
    right: 30px;
    top: 260px;
    transition: all 0.5s;
}

@media (min-width: 450px ) {
    .blog-item .blog-btn{
        top: 300px;
        
    }
}
@media (min-width: 500px ) {
    .blog-item .blog-btn{
        top: 320px;
        
    }
        
    }

@media (min-width: 550px ) {
    .blog-item .blog-btn{
        top: 370px;
        
    }
}

@media (min-width: 760px ) {
    .blog-item .blog-btn{
        top: 260px;
        
    }
}
.blog-item .blog-content{
    margin-left:10px;
}
.blog-item .blog-content .blog-meta{
    display: flex;
    list-style-type: none; 
    margin-bottom: 20px;
}
.date{
    font-size: 14px;
    color: #454545;

}
.user{
    font-size: 15px;
    font-weight: 500;
    color: #454545;
    margin-left: 25px;
}

.fa-calendar-check-o{
    color: #106eea;
    padding-right: 5px;
}

.fa-user-o{
    color: #106eea;
    padding-right: 5px;
}

.blog-title{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none !important;
    outline: none !important;
}

.blog-title:hover{
color: #106eea;
transition: all 0.3s
}

.blog-p{
    font-size: 16px;
    color: #454545;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 2;
}

.blog-info{
    font-size: 16px;
    font-weight: 600;
    text-decoration: none !important;
    outline: none !important;
    color: #454545;
}

.blog-info:hover{
    color: #106eea;
    transition: all 0.3s
}

.blog-info:after {
  
}