.btn {
    display: inline-block;
    color: white;
    padding: 14px 40px;
    border-radius: 35px;
    text-transform: capitalize;
    text-decoration: none !important;
    cursor: pointer;
}

.get-started-btn {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    background: linear-gradient(220deg, #f27c1e 0%, #dd4c23 79%);
}
.get-started-btn:hover {
    background: linear-gradient(180deg, #dd4c23 19%, #f27c1e 100%);
}

@media (max-width: 480px ) {
    .get-started-btn {
    padding: 10px 26px;
    }
}