.hero-row {
    position: relative;
}

.hero-block {
    margin-top: 280px;
    margin-bottom: 100px;
    position: relative;
}

.play-link {
    position: absolute;
    top: -110px;
    left: 10px;
}

.play-circle {
    display: inline-block;
    background-color: #ffffff;
    width: 80px;
    height: 80px;
    font-size: 25px;
    color: #03228f;
    line-height: 60px;
    text-align: center;
    border: 10px solid #fff;
    border-radius: 50%;
    position: relative;
}

.around-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    position:absolute;
    animation-name: circleMove;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes circleMove {
    0% {
        left: 10px;
        top: 10px;
        width: 40px;
        height: 40px;
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        left: -30px;
        top: -30px;
        height: 120px;
        width: 120px;
        opacity: 0;
    }
}

.hero-title {
    font-size: 42px;
    line-height: 59px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 20px;
    transition: all 0.4s;
}

@media (max-width: 766px ) {
    .hero-title {
        font-size: 25px;
        line-height: 41px;
        transition: all 0.4s;
    }
}

.hero-p {
    font-size: 20px;
    line-height: 34px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 35px
}

@media (max-width: 766px ) {
    .hero-p {
        font-size: 15px;
        line-height: 25px;
    }
}

.hero-img {
    width: 517px;
    position: absolute;
    right: 0;
    bottom: 150px;
    display: none;
}

@media (min-width: 991px ) {
    .hero-img {
        display: inline;
    }
}

@media (min-width: 1199px ) {
    .hero-img {
        width: 590px;
        bottom: 120px;
        display: inline;
    }
}

@media (min-width: 1399px ) {
    .hero-img {
        width: 700px;
        bottom: 100px;
        display: inline;
    }
}