/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';

/* components */
@import '../components/button.css';
@import '../components/features.css';
@import '../components/form.css';
lets-talk
@import '../components/lets-talk.css';

@import '../components/header.css';
 develop

/* CUSTOM STYLE GOES BELOW THIS COMMENT LINE */

/* header: start */


/* header: end */
/* hero: start */

.hero-block {
    margin-top: 100px;
    position: relative;
}

.fa-play-circle{
    text-shadow: none;
    color: #ffffff;
    position:absolute;
    top: -110px;
    left: 10px;
}

.hero-title{
    font-size: 42px;
    line-height: 59px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 20px;
    transition: all 0.4s;
}
@media (max-width: 480px ) {
    .hero-title {
        font-size: 25px;
        line-height: 41px;
        transition: all 0.4s;
    }
}

.hero-p{
    font-size: 20px;
    line-height: 34px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 35px
}
@media (max-width: 480px ) {
    .hero-p {
        font-size: 15px;
        line-height: 25px;
    }
}

.hero-img{
    width: 590px;
    
}
@media (min-width: 1440px ) {
    .hero-img {
        width: 900px;
        position: absolute;
        top: 200px;
    }
}
/* hero: end */

/* companies1: start */
.partner-logo{
    width:210px;
}
/* companies1: end */

/* about us 1: start */
/* about us 1: end */

/* about us 2: start */
.about2-img{
    width: 450px;
}
.barname{
    font-size:14px;
}
.barpercent {
    float: right;
    font-weight: 700;
}
.bar-img{
    width: 100%;
    height:7px;
    background-image: url('../../img/abous_us/bar.png');
    background-size: 12px;
    background-repeat: repeat-x;
    margin-top: 10px;
    margin-bottom: 20px;
}
/* about us 2: end */

/* services: start */
.services-col * img {
    width: 60px;
    height: 60px;
    padding: 10px;
    background-color: var(--orange);
    box-sizing: border-box;
}
.services-icon {
    width: 270px;
}
.services-number {
    font-size: 60px;
    color: grey;
    float: right;
}
.services-col > a {
    display: inline-block;
    margin-bottom: 13px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    color: black;
}
/* services: end */

/* why choose us: start */
.why_choose {
    height: auto;
    padding-left: 30px;
}
/* why choose us: end */

/* let's talk: start */
.form {
    padding: 25px 40px 50px;
    background-color: var(--white);
    border-radius: 10px;
}

.form > h1 {
    text-align: center;
    font-weight: 700;
    line-height: 40px;
}

.form > p {
    text-align: center;
    margin-bottom: 20px;
}

.input {
    padding: 12px 16px;
    border-radius: 5px;
    width: 100%;
    border: none;
    background-color: var(--background2);
    outline-style: none;
}

.form-row {
    margin-bottom: 15px;
    width: 100%;
}

/* let's talk: end */

/* blogs: start */
/* blogs: end */

/* testimonials: start */ 
.testimonials-block{
    padding-left:30px;
}

.testimonials_slides {
    position: relative;
    background-color:white;
    line-height: 1.8em;
    font-size: 18px;
    padding-top: 100px;
    padding-bottom:100px;
    z-index: 0;
    padding-left:40px;
    width: 100%;
}
.png {
    position: absolute;
    width: 40px;
    top: 50px;
    left: 40px;
}
.person {
    position: relative;
    margin-top: -55px;
    
}
.person-info {
    display: inline-block;
    padding-top:20px;
}
.person > img {
    
    z-index: 0;
    margin-right: 15px;
    display: inline;
    width: 90px;
    border-radius: 50%;
}
.person-info .person-name {

    margin-right: 50px;
    margin-bottom: 10px;
    font-size:22px;
    font-weight: 550;
}
.person-info .person-response {
    display: inline;
    margin-right: 50px;
    
}
/* testimonials: end */

/* companies2: start */
/* companies2: end */

/* contacts: start */
.contacts-col{
    background: url(../../img/contacts/footer-bg.png);
    background-color: #F5F6F9;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bottom-logo{
    height: 40px;
    margin-bottom: 30px;
}

.textwidget {
    line-height: 1.8;
}

.contact-block {
    margin-bottom: 30px;
}

.contact-icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: none;
    border-radius: 50%;
    background-color: var(--white);
    text-align: center;
    font-size: 15px;
    margin-top: 30px;
    margin-right: 5px;
}

.contact-icon:hover {
    background-color: #106eea;
    transition: all 1s ease;
    cursor: pointer;
}

.contact-icon i {
    padding: 10px;
    color: #555;
}

.contact-icon i:hover {
    color: var(--white);
}

.contact-info {
    padding: 0px 0px 16px 40px;
    position: relative;
}

.contact-info i {
    position: absolute;
    left: 0;
    font-size: 24px;
    color: #106eea;
}

.contact-info a {
    text-decoration: none;
}

h5 {
    margin-bottom: 25px;
    font-size: 22px;
    line-height: 40px;
    font-weight: 600;
}

.it-services {
    display: block;
}

.it-services > li {
    margin-bottom: 12px;
    list-style: none;
}

.it-services > li > a {
    text-decoration: none;
}

.form-row-2 {
    margin: 30px 0 0;
    position: relative;
}

.partner-plane {
    line-height: 1.8;
}

.input-2 {
    font-size: 13px;
    padding: 16px 60px 16px 20px;
    border: none;
    border-radius: 30px 0 0 30px;
    background-color: var(--white);
    box-shadow: 0 0 25px #eeeeee;
    outline-style: none;
    width: 91%;
    line-height: 25px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
}

.round-btn {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    border-radius: 50%;
    padding: 15px 28px 15px;
    background-image: linear-gradient(90deg, #03228f 0%, #0e73e4 100%);
    border: none;
    font-size: 0;
}

.round-btn:hover {
    cursor: pointer;
}

.flaticon-send i {
    position: absolute;
    right: 20px;
    top: 20px;
    bottom: 0;
    font-size: 20px;
    color: var(--white);
}

/* contacts: end */

/* footer: start */
/* footer: end */